.boton {
    background-color: #6278F7;
    border-radius: .625rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 2rem;
    border: none;
    color: #ffffff;
    margin: 2rem 0;
}

.boton:hover {
    color: #95DDF4;
}